*{
	padding: 0;
	margin: 0;
}

header {
	background:url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.logo {
    width: 50%;
    float: left;
}

.logo img {
    width: 400px;
    height: 75px;
    margin-top: 60px;
    margin-bottom: 130px;
    display: block;
}

.menu {
    width: 50%;
    float: left;
}

.menu ul {
    list-style: none;
    margin-top: 100px;
    margin-bottom: 151px;
}

.menu ul li {
	display: inline;
	margin: 0 39px;
    color: #F6F9FA;
}

.call {
	float: left;
	font-size: 20px;
	width: 100%;
}

.call h1 {
	height: 40px;
	width: 530px;
	padding: 25px 50px;
	background-color: rgba(0,0,1,.4);
	text-align: center;
	color: #F6F9FA;
	font-size: 50px;
}

.call p {
    width: 570px;
    height: 40px;
    padding-top: 40px;
    padding-bottom: 100px;
    font-size: 17px;
    color: #F6F9FA;
}

header button {
	background-color: transparent;
	font-size: 18px;
	padding: 20px 100px;
	border: 2px solid #F6F6F6;
	color: #F6F9FA;
	margin-bottom: 280px;
}

.welcome {
	position: relative;
	background-color: #F6F6F6;
}

.welcome h2 {
    font-size: 45px;
    width: 50%;
    padding-top: 200px;
    padding-bottom: 100px;
}

.welcome p {
    width: 45%;
    font-size: 18px;
    padding-bottom: 130px;
}

.decoration {
    position: absolute;
    top: 170px;
    bottom: 0;
    left: 800px;
    right: 0;
    overflow: visible;
    z-index: 2;
}

.decoration img {

}

.title {
	position: relative;
	background-color: #28282E;
}


.title h2 {
	width: 570px;
	height: 40px;
	font-size: 55px;
	padding-top: 130px;
	padding-bottom: 80px;
	color:  #F6F9FA;
}

.title p {
    width: 405px;
    font-size: 18px;
    color: #F6F9FA;
    padding-bottom: 100px;
}

.title button {
    font-size: 18px;
    color: #F6F9FA;
    background-color: transparent;
    border: 1px solid #F6F9FA;
    padding: 20px 40px;
    margin-bottom: 145px;
}

.pic {
    position: absolute;
    top: 240px;
    bottom: 0;
    left: 930px;
    right: 0;
}

footer {
	background-color: #F23E2C;
}

footer p {
    width: 315px;
    margin: 0 auto;
    padding: 40px;
}